<!-- src/main/resources/applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the BookRepository bean -->
    <bean id="bookRepository" class="com.example.librarymanagement.BookRepository"/>

    <!-- Define the BookService bean -->
    <bean id="bookService" class="com.example.librarymanagement.BookService">
        <!-- Inject the BookRepository bean into the BookService bean -->
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
